<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Surblock</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
  <div class="header">
    <div class="logo-container">
      <a routerLink="/">
        <img src="assets/images/Logo.jpg" alt="Surblock Logo" class="logo" />
      </a>
    </div>

    <div class="search-container">
      <input type="text" placeholder="Buscar..." class="search-bar" />
      <button class="search-btn">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <div class="icons-container">
      <i class="fas fa-user" title="Perfil" (click)="goToLogin()" *ngIf="!authService.isAuthenticated()"></i>
      <i class="fas fa-shopping-cart" title="Carrito"></i>
      <!-- Mostrar botón de cerrar sesión si el usuario está autenticado -->
      <button (click)="logout()" class="logout-btn" *ngIf="authService.isAuthenticated()">Cerrar Sesión</button>
    </div>  
  </div>

  <!-- Contenido principal -->
  <div class="main-content">
    <router-outlet></router-outlet> 
  </div>

  <!-- Footer Section -->
  <footer class="footer">
    <div class="footer-logo">
      <a routerLink="/"> 
        <img src="assets/images/Logo.jpg" alt="Logo" class="footer-logo-img">
      </a>
      <div class="social-icons">
        <a href="https://www.facebook.com/share/kgPCG6ReLMmUkHdP/" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/tonitoconstruye.ec?igsh=MWVrbm8wZHhnMHd4Nw==" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://vm.tiktok.com/ZMhPPPq1m/" target="_blank">
          <i class="fab fa-tiktok"></i>
        </a>
      </div>
    </div>
    <div class="footer-columns">
      <div class="footer-column">
        <h3>Quiénes Somos</h3>
        <ul>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Ayuda Clientes</a></li>
          <li><a href="#">Ventas al por mayor</a></li>
          <li><a href="#">Nosotros</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Preguntas Frecuentes</h3>
        <ul>
          <li><a href="#">Preguntas Frecuentes</a></li>
          <li><a href="#">Términos y Condiciones</a></li>
          <li><a href="#">Políticas de Privacidad</a></li>
          <li><a href="#">Política de Cookies</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Contáctanos</h3>
        <ul>
          <li><a href="#">Trabaja con nosotros</a></li>
          <li><a href="#">WhatsApp 099 515 5150</a></li>
          <li><a href="#">Servicio Técnico</a></li>
          <li><a href="#">Nuestros Locales</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© 2024 Surblock. Todos los derechos reservados.</p>
    </div>
  </footer>
</body>
</html>
